$('#like-button').html('<%= j (link_to image_tag("icon_heart.svg"), prototype_likes_path(@prototype), method: :post, remote: true) %> Like <span class="num" id="like-sum"><%= @likes.count %></span>');
